body {
  font-family: Cairo;
  font-display: swap;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}



h5{

color: #3f3534;
  text-align:right;
   
   padding-top: 1px;

   font-size: 14px;

   font-display: swap;
   font-family:Lemonada;
}



p{
text-align:right;
font-size: 14px;

}
.card-tit{
font-size: 10px;
text-align: center;
}

img { 
  width: 100%; 


}


.mobile-container {
  max-width: 480px;
  margin: auto;
  color: black;
  border-radius: 10px;

}

.container{


  padding: 7px;
}


.icon {
  position: relative;
  /* Adjust these values accordingly */
     display: inline-flex;
    vertical-align: middle;

}

/* price & kcal*/


.alignleft {
  float: left;

  color:#d2612a;
   white-space: nowrap;


}
.alignright {
  float: right;

  color:#d2612a;
}

.right{
   float: right;
   font-size: 12px;
   padding-left: 4px;
   padding-top:  1.5px;
    color:#d2612a;
}

.icons{
 color:#d2612a;
float: left;


}



.card{
border: none;

box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


} 

.img-fluid {
  border-radius: 4px;


border-bottom-left-radius: 0px;
border-top-left-radius: 0px;
}
.img-fluid2 {
  border-radius: 4px;

}


.no-underline:hover {
    text-decoration: none;
}


/* reszie  img*/
.scal3{

width: 120px;



}

.scal4{

width:200px;

}

.header1{
  margin: 0 auto;

  width: 120px;
}


.scrolling-wrapper{
  overflow-x: auto;
}


.card-1{



}

.card-2{

}

.card-3{

}

.card-4{
}



.card-5{

}

.card-6{

}

.card-7{

}

.card-8{

}

.card-9{
}

.card-10{


}


.ima-active  {

   opacity: 0.5;
   border-top: 60px;
}

/* reszie  img*/
.scal2{

width: 400px;



}

.scal3{

width: 100px;



}

.scal4{

width:200px;

}

